<ion-header class="notificationHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="f-semibold ion-text-uppercase ion-no-padding wishlistTitle c-black">
      notifications

    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="notificationBase ion-margin-top">
<ion-grid >
  <div class="notiInner">

    <div class="flex-d">
      <div class="offerImgBase">
  
        <ion-img src="../../../assets/images/bagbanner.jpg" class="notiImg"></ion-img>
  
  
  
      </div>
      <div class="notificationContent">
        <h5 class="f-bold">The Myntra Brand Mania is LIVE</h5>
        <p>get 40-70% off on all the top brands you love | Dates:24 Aug to 28th Aug | Shop now</p>
        <p class="">3 days ago</p>
      </div>
    </div>
    <div class="notiImg">
      <ion-img src="../../../assets/images/noti/notiImg1.png" class="offerImg"></ion-img>
    </div>
  </div>
  <div class="notiInner">

    <div class="flex-d">
      <div class="offerImgBase">
  
        <ion-img src="../../../assets/images/bagbanner.jpg" class="notiImg"></ion-img>
  
  
  
      </div>
      <div class="notificationContent">
        <h5 class="f-bold">The Myntra Brand Mania is LIVE</h5>
        <p>get 40-70% off on all the top brands you love | Dates:24 Aug to 28th Aug | Shop now</p>
        <p class="">3 days ago</p>
      </div>
    </div>
    <div class="notiImg">
      <ion-img src="../../../assets/images/noti/notiImg1.png" class="offerImg"></ion-img>
    </div>
  </div>
</ion-grid>
  
</ion-content>