<ion-header class="ordersHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" class="f-semibold ion-text-uppercase ion-no-padding settingsTitle">
      settings

    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="settingsBase ion-margin">
  <ion-list class="ion-margin">

    <ion-item lines="full">
      <ion-checkbox slot="end" color="secondarythemecolor"></ion-checkbox>
      <ion-label>
        <h6>Notifications</h6>
        <p>This will not affect any order updates</p>
      </ion-label>
    </ion-item>
    <div class="ion-padding-horizontal">
      <h6>Optimized Experience</h6>
      <p>For internet connection quality</p>

    </div>
    <ion-item lines="none">
      <ion-checkbox slot="end" color="secondarythemecolor"></ion-checkbox>
      <ion-label class="ion-padding-start">
        <h6>Optimized Image Quality</h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="end" color="secondarythemecolor"></ion-checkbox>
      <ion-label class="ion-padding-start">
        <h6>Optimized Checkout flow</h6>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>