<ion-header [translucent]="true">
  <ion-toolbar class='acntBar'>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="acntbase ">

  <!-- cropimg -->

  <ion-button expand="full" class="cropImg ">
    <label for="cropId" class="w-100 ">
      <!-- upload here  -->
    </label>
    <input type="file" id="cropId" name="crop" multiple class="d-none">
    <!-- profileimg -->


  </ion-button>


  <!-- loginbtn -->
  <ion-row class="loginBtnBase">
    <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">

      <label for="profileId" class="profileupload">
      
        <ion-img src="../../assets/images/user.svg"></ion-img>
      </label>
      <input type="file" id="profileId" name="profile" multiple class="d-none">
    </ion-col>
    <ion-col size-xl="7" size-lg="7" size-md="7" size-sm="7" size-xs="7" class=" ion-padding-end">
     
      <h4 class="ion-text-uppercase c-black f-semibold ion-no-margin ion-padding-top">Guest</h4>
      <p class="insider f-semibold">Become an Insider!</p>
    </ion-col>
  </ion-row>

  <!-- acntitems -->
  <ion-row class="ion-margin-top">
    <ion-list class="w-100">
      <ion-item lines="full" class="items" routerLink="/orders">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/orders.svg" class="acnticons"></ion-img>
          <div class="acntLabel">
            <h6 class="c-black">Orders</h6>

            <p>Check your order status</p>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="items" routerLink="/helpcenter">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/helpcenter.svg" class="acnticons"></ion-img>
          <div class="acntLabel">
            <h6 class="c-black"> Help Center</h6>


            <p>Help reagrding your recent purchases</p>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="items" routerLink="/address">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/address.svg" class="acnticons"></ion-img>
          <div class="acntLabel">
            <h6 class="c-black"> Shipping Address</h6>

            <p>Save Addresses for a hassle-free checkout</p>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="items" routerLink="/refer">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/refer.svg" class="acnticons"></ion-img>
          
          <div class="acntLabel">
            <h6 class="c-black"> Refer & Earn</h6>

            <p>Invite friends and earn rewards</p>
          </div>
        </ion-label>
      </ion-item>
    
      <ion-item lines="full" class="items" routerLink="/profile-details">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/profileDetails.png" class="acnticons"></ion-img>
          <div class="acntLabel">
            <h6 class="c-black"> Profile Details</h6>

            <p>Change your profile details & password</p>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="items" routerLink="/settings">
        <ion-label class="flex-d">
          <ion-img src="../../assets/images/tabSettings.png" class="acnticons"></ion-img>
          <div class="acntLabel">
            <h6 class="c-black"> Settings</h6>

            <p>Manage notification & app settings</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-row>

  <!-- about -->
  <ion-list class="ion-margin-top companyAbt ">
    <ion-item lines="none">
      <ion-label class="ion-text-uppercase f-bold">About us</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-uppercase f-bold">terms of use</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-uppercase f-bold">privacy policy</ion-label>
    </ion-item>
  </ion-list>

  <!-- logutbtn -->
  <ion-button expand="block" fill="outline"
    class="ion-text-uppercase f-bold ion-padding-start ion-padding-end ion-margin-bottom logoutBtn " (click)="logout()">logout
  </ion-button>


</ion-content>