.loginBase {
    h4 {
        padding-top: 20px;
    }
    .loginForm {
        padding: 3px 29px;
        h6{
            margin-bottom:0px;
            font-size: 14px;
        }
        .loginInputBase {
            border: 1px solid #a9a9a9;
            padding: 8px 10px 8px 18px;
            .countryCode {
                font-size: 14px;
                border-right:1px solid #c0c3c2;
                padding: 4px 16px 4px 0px;
            }
            .loginInput {
                font-size: 14px;
                margin-bottom: 0;
                --padding-start:12px;
                --color:#a3a3a3;
              
            }
        }
        .agreeText {
            margin-top: 20px;
            font-size: 12px;
            line-height: 21px;
        }
        .continueBtn {
            margin-top: 20px;
            --box-shadow: none;
            font-size: 12px;
        }
    
    }
}
