.HomeTabTitle {
    font-size: 18px;
}

.homeBase {
    .homeSearch {
        --box-shadow: none;
    }
    //banner
    .bannerSliderBase {
        max-height: 275px;

        .bannerSlides {
            max-height: 422px;

            .bannerSlideImg {
                position: relative;
                min-height: 250px;
                object-fit: cover;
            }
            .bannerCaption1 {
                position: absolute;
                bottom: 13%;
                left: 4%;

                .offer {
                    background: #fff;
                    color: #000;
                }
                h1 {
                    display: inline;
                    padding: 0px 10px;
                    margin: 0 0 3px 0;
                }
                p {
                    font-size: 11px;
                    padding: 2px 10px;
                    margin: 7px 0 0 2px !important;
                }
            }
            .bannerCaption2 {
                position: absolute;
                top: 18%;
                left: 4%;

                h1 {
                    font-size: 35px;
                    display: inline;

                    margin: 0 0 3px 0;
                }
                p {
                    font-size: 16px;

                    margin: 7px 0 0 2px !important;
                }
            }
            .bannerCaption3 {
                position: absolute;
                bottom: 38%;
                left: 4%;

                h1 {
                    font-size: 30px;
                    display: inline;

                    margin: 0 0 3px 0;
                }
                p {
                    padding: 4px 2px 3px 2px;
                    display: inline;
                    font-size: 16px;
                    background-color: #fff;
                    margin: 7px 0 0 2px !important;
                }
            }
            .bannerCaption4 {
                position: absolute;
                bottom: 38%;
                right: 4%;

                h1 {
                    font-size: 30px;
                    display: inline;

                    padding: 2px 2px 3px 2px;
                    margin: 0 0 3px 0;
                }
                p {
                    padding: 4px 2px 3px 2px;
                    display: inline;
                    font-size: 16px;

                    margin: 7px 0 0 2px !important;
                }
            }
            .bannerCaption5 {
                position: absolute;
                top: 12%;
                right: 3%;

                p {
                    display: inline-block;
                    margin: 1px 0 4px 0;
                    font-size: 30px;
                    background: #c4536d;
                    padding: 2px 2px;
                }
                h6 {
                    font-size: 18px;
                    display: inline-block;
                    margin: 1px 0 4px 0;

                    background: #c4536d;
                    padding: 2px 2px;
                }
            }
        }
    }
    //category
    .catTitle {
        padding: 7px 10px 0;
        font-size: 15px;
    }
    .categorySlideBase {
        padding: 0px 10px;
        .categorySlides {
            width: 238.5px !important;

            ion-card {
                box-shadow: none;
                border-radius: 0px;
                /*  border: 1px solid #e7e2de; */
                min-height: 285px;
                margin: 10px 7px 0 0;

                h4 {
                    margin: 0px !important;
                    font-size: 16px !important;
                }
            }

            .categoryImg {
                min-height: 348px;
                object-fit: cover;
            }
            .brand {
                position: absolute;
                bottom: 9%;
                width: 168px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                img {
                    max-height: 27px;
                }
            }
            .featurebrand {
                position: absolute;
                bottom: 2%;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                img {
                    width: 212px;
                    height: 68px;
                    object-fit: fill;
                }
            }
            .cardText {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff6ed;
                min-height: 50px;
            }
            .cardText2 {
                min-height: 50px;
            }

            .bestcardbg {
                --background: url(../../assets/images/gradientbg-home.jpg) no-repeat;
                --background-size: 10px;

                img {
                    padding: 10px 10px;
                }
            }
        }
    }

    //toppicks
    .toppicks {
        padding: 0px 0px 0px 8px;
        ion-col {
            padding: 3px;
        }
    }
    .topcardbg {
        min-height: 220px;
        border-radius: 2px;
        --background-size: 10px;
        --background: url(../../assets/images/home/clothbg.jpg) no-repeat;
        box-shadow: none;
        margin: 10px 7px 0 0px;
        img {
            padding: 10px 10px 0px;
            max-height: 151px;
            object-fit: cover;
            width: 100%;
        }
    }
    .topcardbg2{
        box-shadow: none; 
    }
    //dynamic-slide
    .titleimg{
        height:45px;
        object-fit: cover;
    }
    //common
    .cardText3 {
        margin: 0 0 16px 0 !important;
        h4 {
            font-size: 17px !important;
        }
        h3 {
            font-size: 25px !important;
        }
    }
}
