@font-face {
    font-family: "SpartanRegular";
    src: url("../assets/fonts/SpartanRegular400.eot");
    src: url("../assets/fonts/SpartanRegular400.eot") format("embedded-opentype"),
        url("../assets/fonts/SpartanRegular400.woff2") format("woff2"),
        url("../assets/fonts/SpartanRegular400.woff") format("woff"),
        url("../assets/fonts/SpartanRegular400.ttf") format("truetype"),
        url("../assets/fonts/SpartanRegular400.svg#SpartanRegular400") format("svg");
}
@font-face {
    font-family: "SpartanMedium";
    src: url("../assets/fonts/SpartanMedium500.eot");
    src: url("../assets/fonts/SpartanMedium500.eot") format("embedded-opentype"),
        url("../assets/fonts/SpartanMedium500.woff2") format("woff2"),
        url("../assets/fonts/SpartanMedium500.woff") format("woff"),
        url("../assets/fonts/SpartanMedium500.ttf") format("truetype"),
        url("../assets/fonts/SpartanMedium500.svg#SpartanMedium500") format("svg");
}
 
@font-face {
    font-family: "SpartanBold";
    src: url("../assets/fonts/SpartanBold700.eot");
    src: url("../assets/fonts/SpartanBold700.eot") format("embedded-opentype"),
        url("../assets/fonts/SpartanBold700.woff2") format("woff2"),
        url("../assets/fonts/SpartanBold700.woff") format("woff"),
        url("../assets/fonts/SpartanBold700.ttf") format("truetype"),
        url("../assets/fonts/SpartanBold700.svg#SpartanBold700") format("svg");
}
@font-face {
    font-family: "SpartanExtraBold";
    src: url("../assets/fonts/SpartanExtraBold800.eot");
    src: url("../assets/fonts/SpartanExtraBold800.eot") format("embedded-opentype"),
        url("../assets/fonts/SpartanExtraBold800.woff2") format("woff2"),
        url("../assets/fonts/SpartanExtraBold800.woff") format("woff"),
        url("../assets/fonts/SpartanExtraBold800.ttf") format("truetype"),
        url("../assets/fonts/SpartanExtraBold800.svg#SpartanExtraBold800") format("svg");
}
@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../assets/fonts/GeorgiaRegularfont.eot');
    src: url('../assets/fonts/GeorgiaRegularfont.eot') format('embedded-opentype'),
         url('../assets/fonts/GeorgiaRegularfont.woff2') format('woff2'),
         url('../assets/fonts/GeorgiaRegularfont.woff') format('woff'),
         url('../assets/fonts/GeorgiaRegularfont.ttf') format('truetype'),
         url('../assets/fonts/GeorgiaRegularfont.svg#GeorgiaRegularfont') format('svg');
}

