 //banner
 .bannerSliderBase {
    max-height: 275px;

    .bannerSlides {
        max-height: 422px;

        .bannerSlideImg {
            position: relative;
            min-height: 250px;
            object-fit: cover;
        }
        .bannerCaption1 {
            position: absolute;
            bottom: 13%;
            left: 4%;

            .offer {
                background: #fff;
                color: #000;
            }
            h1 {
                display: inline;
                padding: 0px 10px;
                margin: 0 0 3px 0;
            }
            p {
                font-size: 11px;
                padding: 2px 10px;
                margin: 7px 0 0 2px !important;
            }
        }
        .bannerCaption2 {
            position: absolute;
            top: 18%;
            left: 4%;

            h1 {
                font-size: 35px;
                display: inline;

                margin: 0 0 3px 0;
            }
            p {
                font-size: 16px;

                margin: 7px 0 0 2px !important;
            }
        }
        .bannerCaption3 {
            position: absolute;
            bottom: 38%;
            left: 4%;

            h1 {
                font-size: 30px;
                display: inline;

                margin: 0 0 3px 0;
            }
            p {
                padding: 4px 2px 3px 2px;
                display: inline;
                font-size: 16px;
                background-color: #fff;
                margin: 7px 0 0 2px !important;
            }
        }
        .bannerCaption4 {
            position: absolute;
            bottom: 38%;
            right: 4%;

            h1 {
                font-size: 30px;
                display: inline;

                padding: 2px 2px 3px 2px;
                margin: 0 0 3px 0;
            }
            p {
                padding: 4px 2px 3px 2px;
                display: inline;
                font-size: 16px;

                margin: 7px 0 0 2px !important;
            }
        }
        .bannerCaption5 {
            position: absolute;
            top: 12%;
            right: 3%;

            p {
                display: inline-block;
                margin: 1px 0 4px 0;
                font-size: 30px;
                background: #c4536d;
                padding: 2px 2px;
            }
            h6 {
                font-size: 18px;
                display: inline-block;
                margin: 1px 0 4px 0;

                background: #c4536d;
                padding: 2px 2px;
            }
        }
    }
}