<ion-header class="ordersHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" class="f-semibold ion-text-uppercase ion-no-padding wishlistTitle">
      orders

    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="orderContent ion-padding-bottom">


  <!-- order content -->
  <div class=" orderInner2  ">

    <div class="insiderBase flex-d justify-between">
      <div class="myntraInsider ion-padding-start ">
        <h5 class="ion-text-uppercase f-bold c-black">myntra insider</h5>
        <p class="ion-no-margin">Earn 10 insider points for every 100 purchase</p>
      </div>
      <ion-button class="ion-text-capitalize enrollBtn f-bold ion-padding-end" color="secondarythemecolor">
        enroll now
      </ion-button>
    </div>
    <ion-row class="searchOrderBase ">
      <ion-col size-xl="9" size-lg="9" size-md="9" size-sm="9" size-xs="9">
        <ion-input type="search" class="searchOrders" placeholder="Search in orders"></ion-input>


      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="3" size-xs="3">
        <ion-button class="c-black ion-text-uppercase f-semibold filterBtn ion-no-margin" color="lightbg">
          <ion-img slot="start" src="../../../../assets/images/accnt/orders/filter.png"></ion-img>
          <p>filter</p>
          
        </ion-button>
        
      </ion-col>
    </ion-row>

    <ion-row class="orderList ">

      <div class="ion-margin-top">
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <div class="flex-d align-center">
              <div>
                <ion-icon name="close" class="cancelledIcon"></ion-icon>

              </div>
              <div class="ion-margin-start">
                <h6 class="c-black f-bold">Cancelled</h6>
                <p>on Sat,27 Aug as per your request</p>
              </div>
            </div>
            <div class="orderDetails ">
              <div class="flex-d align-center detailInner">

                <div>
                  <ion-img src="../../../../assets/images/watch.webp" class="orderedImg"></ion-img>

                </div>
                <div class="ion-margin-start">
                  <h6 class="c-black f-bold ion-text-uppercase">miragio</h6>
                  <p class="ion-text-capitalize">white Mia Crossbody bag</p>
                  <p>Size: S</p>
                </div>
              </div>
            </div>

          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-margin-top">
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <div class="flex-d align-center">
              <div>
                <ion-icon name="close" class="cancelledIcon"></ion-icon>

              </div>
              <div class="ion-margin-start">
                <h6 class="c-black f-bold">Cancelled</h6>
                <p>on Sat,27 Aug as per your request</p>
              </div>
            </div>
            <div class="orderDetails ">
              <div class="flex-d align-center detailInner">

                <div>
                  <ion-img src="../../../../assets/images/watch.webp" class="orderedImg"></ion-img>

                </div>
                <div class="ion-margin-start">
                  <h6 class="c-black f-bold ion-text-uppercase">miragio</h6>
                  <p class="ion-text-capitalize">white Mia Crossbody bag</p>
                  <p>Size: S</p>
                </div>
              </div>
            </div>

          </ion-card-content>
        </ion-card>
      </div>

    </ion-row>

  </div>
</ion-content>