<ion-header class="ordersHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" class="f-semibold ion-text-uppercase ion-no-padding wishlistTitle">
      address

    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="addressBase">


  <!-- added-Address -->
  <div class="addedAddress" >
   
    <h6 class="c-black f-semibold ion-text-uppercase ion-padding-start ion-padding-top">default address</h6>

    <div class="address ion-padding">
      <div class="flex-d justify-between align-center">
        <p class="f-bold"> Guest</p>
        <h5 class="f-bold"> Home</h5>

      </div>
      <h1 class="ion-text-capitalize">2/175,test street,</h1>
      <h1 class="ion-text-capitalize">test area,town</h1>
      <h1 class="ion-text-capitalize">district</h1>
      <h1 class="ion-text-capitalize">state</h1>
      <h1>Mobile:9123456789</h1>

    </div>
    <div class="flex-d  align-center btnBase">
      <ion-button class="f-bold ion-text-uppercase" >edit</ion-button>
      <ion-button class="f-bold ion-text-uppercase">remove</ion-button>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="placeOrderBase">

      <ion-button expand="block" color="secondarythemecolor" class="ion-text-uppercase saveBtn f-semibold"
        routerLink="/address">
        continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>